* {
  margin: 0;
  padding: 0;
  overflow:visible;
}
body {
  display: flex;
  flex-direction: row;
}
.left {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-shrink: inherit;
}
.logo {
  position: absolute;
  display: flex;
  left: 40%;
  top: 15%;
}
.logoText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: white;
  font-weight: bolder;
}
.logoBg {
  background-color: rgba(102, 51, 153, 0.3);
  width: 100%;
  /* opacity: 2%; */
  height: 180px;
  display: flex;
  position: absolute;
  flex-shrink: 3;
  top: 20%;
}
.right {

  width: 100%;
  flex-shrink: 2;
  display: flex;
  flex-direction: column;

  justify-content: space-evenly;
}
.elements {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name,
.pw,
.emailPN {
  display: flex;
  gap: 10vw;
  margin: 10px 0px;
  padding-left: 20px;
}
#email,
#firstName,
#lastName,
#Number,
#pw1,
#pw2, #password, #confirmPw, #number {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
}
#lastName:focus, #firstName:focus, #email:focus, #number:focus, #password:focus, #confirmPw:focus{
    box-shadow: 8px 10px 5px rebeccapurple;
    /* background-color: red; */
    border-color: red;
}
#lastName:valid, #firstName:valid, #email:valid, #number:valid, #password:valid, #confirmPw:valid{
    border-color: green;
}
#lastName:invalid, #firstName:invalid, #email:invalid, #number:invalid, #password:invalid, #confirmPw:invalid{
    border-color: red;
}
.lower {
  /* background-color: red; */
  height: 100%;
  padding: 20px;
  background-color: rgb(224, 224, 224);
}
.lower,
.middle{
  margin-top: 20px;
}
h2 {
  /* color: red; */
  display: flex;
  padding-left: 20px;
}
.middle {
  margin-left: 20px;
  box-shadow: 10px red;
}
.upper {
  display: flex;
  padding: 2vw;
  align-items: center;
  justify-content: center;
  background-color: rgb(224, 224, 224);
  height: 100%;
  flex-direction: column;
}
.btn {
  margin: 10px;
  padding: 15px 50px;
  font-size: 1rem;
  border-radius: 10px;
  background-color: #596d48;
  color: white;
  font-weight: 500;
}
.btnText {
  margin: 10px;
  font-size: large;
}
